#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    
}

#main-container > div {
    border-radius: 6px;
    border: 1px solid black;
}

#item1 {
   
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(231, 203, 227);
}
#item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(177, 59, 137);
}
#item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(177, 59, 137);
}
#item4 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(177, 59, 137);
}
#item5 {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(177, 59, 137);
}
#item6 {
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(111, 236, 236);
}
#item7 {
    grid-column-start:3 ;
    grid-column-end: 5;
    background-color: rgb(111, 236, 236);
}
#item8 {
    grid-column-start: 1;
    grid-column-end:4 ;
    background-color: rgb(32, 228, 81);
}
#item9 {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(226, 118, 17);
}
    